extends shared/single-layout.pug

block item
    div.form-context
        form#book.form(method="post" action="" name="book")
            input(type="hidden" name="id" id="id" value=`${book.id}`)
            div.form-group
                div.form-controls
                    div.form-input
                        input.form-input__control(type="text" value=`${book.title}` name="title" id="title")
                        label.form-input__placeholder(for="title") Title
            div.form-group
                div.form-controls
                    div.form-input
                        input.form-input__control(type="text" value=`${book.author}` name="author" id="author")
                        label.form-input__placeholder Author
            div.form-group
                div.form-controls
                    div.form-input
                        input.form-input__control(type="text" value=`${book.genre}` name="genre" id="genre")
                        label.form-input__placeholder Genre
            div.form-group
                div.form-controls
                    div.form-input
                        input.form-input__control(type="number" value=`${book.first_published}` name="first_published" id="first_published")
                        label.form-input__placeholder First Published
            div.form-actions
                    if book.id
                        button#update.btn.btn-primary Update
                    else
                        button#create.btn.btn-primary Create New Book
    div.page
        div#book-loans.page-list
block item-scripts
    script.
        $(document).ready(function() {
            $(".form-input").activePlaceholder();
            if(!{book.id}) {
                $("#book-loans").list({
                    name: "book-loans",
                    title: "Loan History",
                    isRemote: true,
                    dataSourceUrl: "/loans/book/" + !{book.id}
                });
            }
            $("#book").book();
        })